<!DOCTYPE html>
<html>
<head>
    <title>单元测试页</title>
    <link rel="stylesheet" href="/Scripts/bootstrap-3.3.7-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/Style/Css/UnitTest.css" />
</head>
<body>
    <div class="main" ng-app="app" ng-controller="controller">
        <div class="group-item">
            <div class="item-line">
                <span class="name">程序集选择：</span>
                <div class="input-group-btn inline widening">
                    <button type="button" class="btn btn-default dropdown-toggle input-select"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            title="{{GetItemByName(Assemblies, SelectAssemblie).Comments}}">
                        <span class="separated" ng-bind="SelectAssemblie"></span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li ng-repeat="item in Assemblies" title="{{item.Comments}}">
                            <a href="javascript:void(0)" ng-bind="item.Name" ng-click="SetAssemblie(item.Name)"></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="item-line">
                <span class="name">命名空间选择：</span>
                <div class="input-group-btn inline widening">
                    <button type="button" class="btn btn-default dropdown-toggle input-select"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            title="{{GetItemByName(GetItemByName(Assemblies, SelectAssemblie).NameSpaces, SelectNameSpace).Comments}}">
                        <span class="separated" ng-bind="SelectNameSpace"></span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li ng-repeat="item in GetItemByName(Assemblies, SelectAssemblie).NameSpaces" title="{{item.Comments}}">
                            <a href="javascript:void(0)" ng-bind="item.Name" ng-click="SetNameSpace(item.Name)"></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="item-line">
                <span class="name">类选择：</span>
                <div class="input-group-btn inline widening">
                    <button type="button" class="btn btn-default dropdown-toggle input-select"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            title="{{Class[SelectClassIndex].Comments}}">
                        <span class="separated" ng-bind="Class[SelectClassIndex].Name"></span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li ng-repeat="item in Class" title="{{item.Comments}}">
                            <a href="javascript:void(0)" ng-bind="item.FullName" ng-click="SetClass($index)"></a>
                        </li>
                    </ul>
                </div>
                <div ng-cloak class="ng-cloak control-group" ng-show="Class[SelectClassIndex].Parameters.length > 0">
                    <span class="name auto">
                        <span>实例化参数设置：</span>
                    </span>
                    <table class="item-table">
                        <tr>
                            <th>参数名称</th>
                            <th>参数值</th>
                            <th>参数类型</th>
                            <th>参数说明</th>
                        </tr>
                        <tr ng-repeat="item in Class[SelectClassIndex].Parameters">
                            <td ng-bind="item.Name"></td>
                            <td class="special"><input type="text" ng-model="ClassParameters[item.Name]" /></td>
                            <td ng-bind="item.ParameterType"></td>
                            <td ng-bind="item.Comments"></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="item-line">
                <span class="name">方法选择：</span>
                <div class="control">
                    <button ng-cloak class="btn-default ng-cloak" ng-click="SetValue('IsFolding', !IsFolding)" ng-show="Methods[SelectMethodIndex].Parameters.length > 0">
                        <span class="glyphicon glyphicon-resize-full" aria-hidden="true" ng-show="IsFolding"></span>
                        <span class="glyphicon glyphicon-resize-small" aria-hidden="true" ng-show="!IsFolding"></span>
                    </button>
                </div>
                <div class="input-group-btn inline widening">
                    <button type="button" class="btn btn-default dropdown-toggle input-select"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            title="{{Methods[SelectMethodIndex].Comments}}">
                        <span class="separated" ng-bind="Methods[SelectMethodIndex].Name"></span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li ng-repeat="item in Methods" title="{{item.Comments}}">
                            <a href="javascript:void(0)" ng-bind="item.FullName" ng-click="SetMethod($index)"></a>
                        </li>
                    </ul>
                </div>
                <div ng-cloak class="ng-cloak control-group" ng-repeat="par in Parameters track by $index" ng-init="parIndex = $index" ng-show="!IsFolding && Methods[SelectMethodIndex].Parameters.length > 0">
                    <span class="name auto">
                        <span>方法参数设置(</span>
                        <span ng-bind="parIndex + 1"></span>
                        <span>)：</span>
                    </span>
                    <span class="name auto" ng-show="IsFolding && parIndex == 0">
                        <span>方法参数设置...</span>
                    </span>
                    <div class="control">
                        <button class="btn-default" ng-click="AddParameters(parIndex)">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </button>
                        <button class="btn-default" ng-click="DeleteParameters(parIndex)" ng-disabled="Parameters.length <= 1">
                            <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                        </button>
                    </div>
                    <table class="item-table">
                        <tr>
                            <th>参数名称</th>
                            <th>参数值</th>
                            <th>参数类型</th>
                            <th>参数说明</th>
                        </tr>
                        <tr ng-repeat="item in Methods[SelectMethodIndex].Parameters track by $index">
                            <td ng-bind="item.Name"></td>
                            <td class="special"><input type="text" ng-model="Parameters[parIndex][item.Name]" /></td>
                            <td ng-bind="item.ParameterType"></td>
                            <td ng-bind="item.Comments"></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="item-line">
                <span class="name">返回结果说明：</span>
                <table class="item-table">
                    <tr>
                        <th>返回值类型</th>
                        <th>返回值说明</th>
                    </tr>
                    <tr>
                        <td ng-bind="Methods[SelectMethodIndex].ReturnType"></td>
                        <td ng-bind="Methods[SelectMethodIndex].ReturnComments"></td>
                    </tr>
                </table>
            </div>
            <div class="item-line">
                <span class="name">Excel操作：</span>
                <div class="input-group-btn inline">
                    <button type="button" class="btn btn-default dropdown-toggle input-select" ng-disabled="IsNull(Methods[SelectMethodIndex])">
                        <span class="separated">导出参数模板</span>
                    </button>
                </div>
                <div class="input-group-btn inline">
                    <button type="button" class="btn btn-default dropdown-toggle input-select" ng-disabled="IsNull(Methods[SelectMethodIndex])">
                        <span class="separated">导入参数</span>
                    </button>
                </div>
            </div>
            <div class="item-line">
                <span class="name">操作：</span>
                <div class="input-group-btn inline" title="根据指定的参数进行方法测试">
                    <button type="button" class="btn btn-default dropdown-toggle input-select"
                            ng-disabled="IsNull(Methods[SelectMethodIndex])"
                            ng-click="Test()">
                        <span class="separated" ng-click="">开始测试</span>
                    </button>
                </div>
                <div class="input-group-btn inline">
                    <button type="button" class="btn btn-default dropdown-toggle input-select btn-left"
                            title="根据指定设定进行自动化测试"
                            ng-disabled="IsNull(Methods[SelectMethodIndex])">
                        <span class="separated">自动化测试</span>
                    </button>
                    <button type="button" class="btn btn-default dropdown-toggle input-select btn-right"
                            title="进行自动化测试的设置"
                            ng-disabled="IsNull(Methods[SelectMethodIndex])">
                        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="group-item">
            <span class="name">结果说明：</span>
            <div ng-cloak class="item-line ng-cloak" ng-repeat="result in Results">
                <table class="item-table">
                    <tr>
                        <th>序号</th>
                        <th>执行用时(毫秒)</th>
                        <th>是否执行成功</th>
                        <th>返回值</th>
                        <th>错误信息</th>
                    </tr>
                    <tr>
                        <td ng-bind="$index + 1"></td>
                        <td ng-bind="result.UseTime"></td>
                        <td ng-bind="result.IsFinish"></td>
                        <td ng-bind="result.Result"></td>
                        <td ng-bind="result.Error[0]"></td>
                    </tr>
                </table>
            </div>
        </div>
        <div ng-cloak class="notification ng-cloak" ng-show="Notice.IsOn">
            <p ng-bind="NoticeText"></p>
        </div>
    </div>
    <script src="/Scripts/AngularInstance.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
        Angular(function ($scope, factory) {
            $scope.IsFolding = false;
            $scope.IsNull = factory.IsNull;

            //设置程序集
            $scope.SetAssemblie = function (assemblie) {
                $scope.SelectAssemblie = assemblie;
                $scope.SetNameSpace($scope.GetItemByName($scope.Assemblies, assemblie).NameSpaces[0].Name);
            }

            //设置命名空间
            $scope.SetNameSpace = function (nameSpace) {
                $scope.SelectNameSpace = nameSpace;
                $scope.LoadClass();
            }

            //设置类
            //因为类存在多个实例方法的情况，所以使用序号
            $scope.SetClass = function (index) {
                $scope.SelectClassIndex = index;
                $scope.LoadMethod();
            }

            //设置方法
            //因为方法存在重名的情况，所以使用序号
            $scope.SetMethod = function (index) {
                $scope.SelectMethodIndex = index;
                $scope.Results = [{}];
                $scope.ClassParameters = {};
                $scope.Parameters = [{}];
            }

            $scope.AddParameters = function (index) {
                var array = [];
                for (var i = 0; i < $scope.Parameters.length; i++) {
                    array.push(angular.copy($scope.Parameters[i]));
                    if (i == index) {
                        array.push({});
                    }
                }
                $scope.Parameters = array;
            }

            $scope.DeleteParameters = function (index) {
                var array = [];
                for (var i = 0; i < $scope.Parameters.length; i++) {
                    if (i != index) {
                        array.push(angular.copy($scope.Parameters[i]));
                    }
                }
                $scope.Parameters = array;
            }

            //通过名称获取指定项
            $scope.GetItemByName = function (array, name) {
                array = array || [];
                for (var i = 0; i < array.length; i++) {
                    if (array[i].Name == name) {
                        return array[i];
                    }
                }
            }

            $scope.SetValue = function (name, value) {
                $scope[name] = value;
            }

            $scope.Notice = {
                Open: function (text) {
                    $scope.NoticeText = text;
                    //延迟加载以屏蔽闪烁的加载项
                    $scope.Notice.QueueOrdinal = setTimeout(function () {
                        $scope.Notice.IsOn = true;
                        $scope.$apply();
                    }, 100);
                },
                Close: function () {
                    if ($scope.Notice.QueueOrdinal) {
                        clearTimeout($scope.Notice.QueueOrdinal);
                        $scope.Notice.QueueOrdinal = null;
                    }
                    $scope.Notice.IsOn = false;
                },
                Prompted: function (text, time) {
                    $scope.Notice.Open(text);

                    setTimeout(function () {
                        $scope.Notice.Close();
                        $scope.$apply();
                    }, time || 2000)
                },
                IsOn: false,
                QueueOrdinal: null
            }

            $scope.LoadNameSpace = function () {
                $scope.Notice.Open('正在加载程序集列表，请稍候...');
                factory.Query('/Controller/UnitTest/GetNameSpace', true, false).then(function (data) {
                    $scope.Assemblies = data;
                    $scope.Notice.Close();

                    $scope.SetAssemblie($scope.Assemblies[0].Name);
                })
            }

            $scope.LoadClass = function () {
                $scope.Notice.Open('正在加载类列表，请稍候...');
                factory.Query('/Controller/UnitTest/GetClass?AssemblyName=' + $scope.SelectAssemblie +
                    '&NameSpaceName=' + $scope.SelectNameSpace, true, false).then(function (data) {
                        $scope.Class = data;
                        $scope.Notice.Close();

                        $scope.SetClass(0);
                    })
            }

            $scope.LoadMethod = function () {
                $scope.Notice.Open('正在加载方法列表，请稍候...');
                factory.Query('/Controller/UnitTest/GetMethod?AssemblyName=' + $scope.SelectAssemblie +
                    '&NameSpaceName=' + $scope.SelectNameSpace +
                    '&ClassName=' + $scope.Class[$scope.SelectClassIndex].Name, true, false).then(function (data) {
                        $scope.Methods = data;
                        $scope.Notice.Close();

                        $scope.SetMethod(0);
                    })
            }

            $scope.Test = function () {
                $scope.Notice.Open('正在进行测试，请稍候...');
                factory.Query('/Controller/UnitTest/Test?AssemblyName=' + $scope.SelectAssemblie +
                    '&NameSpaceName=' + $scope.SelectNameSpace +
                    '&ClassName=' + $scope.Class[$scope.SelectClassIndex].Name +
                    '&ClassFullName=' + $scope.Class[$scope.SelectClassIndex].FullName +
                    '&MethodFullName=' + $scope.Methods[$scope.SelectMethodIndex].FullName +
                    '&ClassParameters=' + JSON.stringify($scope.ClassParameters) +
                    '&MethodParameters=' + JSON.stringify($scope.Parameters), true, false).then(function (data) {
                        $scope.Notice.Close();

                        //绑定结果参数
                        $scope.Results = data;
                        console.log(data);
                    })
            }

            $scope.LoadNameSpace();
        });
    </script>
</body>
</html>