<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>在线接口测试</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/Scripts/bootstrap-3.3.7-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/Scripts/bootstrap-3.3.7-dist/css/docs.min.css" />
    <link rel="stylesheet" href="/Style/Css/ApiTest.css" />
    <link rel="stylesheet" href="/Scripts/prettify/prettify.css" />
</head>
<body>
    <div class="container ng-cloak" ng-app="app" ng-controller="controller" ng-cloak>
        <div></div>
        <div class="input-group input-group-lg">
            <div class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="SetValue('Data.IsLocal', !Data.IsLocal)">
                    <span class="glyphicon glyphicon-cloud" ng-if="Data.IsLocal == false"></span>
                    <span class="glyphicon glyphicon-link" ng-if="Data.IsLocal == true"></span>
                </button>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="border-right: none;">
                    <span ng-bind="Data.QueryType"></span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li ng-repeat="item in List.QueryTypeList">
                        <a href="javascript:void(0)" class="method" ng-bind="item" ng-click="SetValue('Data.QueryType', item)"></a>
                    </li>
                </ul>
            </div>
            <!-- /btn-group -->
            <input type="text" class="form-control" placeholder="Api地址" ng-model="Data.Url">
            <span class="input-group-btn">
                <button class="btn btn-primary" type="button" ng-click="Sutmit()" ng-disabled="Data.Loading">
                    <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </span>
        </div>
        <!-- /input-group -->
        <h3>Request</h3>
        <div>
            <ul class="nav nav-tabs" role="tablist">
                <li ng-repeat="item in List.FillList" ng-class="{true: 'active'}[Select.Request == $index]" ng-click="SetValue('Select.Request', $index)">
                    <a href="javascript:void(0)" ng-bind="item"></a>
                </li>
                <li role="presentation" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)" aria-expanded="false">
                        <span>Content-Type</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-repeat="item in List.ContentTypeList" ng-click="AddHeader('Content-Type', item)">
                            <a href="javascript:void(0)" class="content_type" ng-bind="item"></a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0)" style="padding-top: 5px;" ng-click="AddItem()">
                        <span class="glyphicon glyphicon-plus btn-primary btn-icon" aria-hidden="true"></span>
                    </a>
                </li>
            </ul>
            <div ng-show="Select.Request == 0" ng-repeat="body in Data.Body track by $index" class="input-group input-group-lg input-parameters">
                <input class="form-control" placeholder="参数名" ng-model="body.key" />
                <input class="form-control" placeholder="参数值" ng-model="body.value" />
                <span class="glyphicon glyphicon-minus btn-primary" aria-hidden="true" ng-click="RemoveItem($index)"></span>
            </div>
            <div ng-show="Select.Request == 1" ng-repeat="header in Data.Header track by $index" class="input-group input-group-lg input-parameters">
                <input class="form-control" placeholder="参数名" ng-model="header.key" />
                <input class="form-control" placeholder="参数值" ng-model="header.value" />
                <span class="glyphicon glyphicon-minus btn-primary" aria-hidden="true" ng-click="RemoveItem($index)"></span>
            </div>
        </div>
        <h3>Response</h3>
        <div>
            <ul class="nav nav-tabs" role="tablist">
                <li ng-repeat="item in List.FillList" ng-class="{true: 'active'}[Select.Response == $index]" ng-click="SetValue('Select.Response', $index)">
                    <a href="javascript:void(0)" ng-bind="item"></a>
                </li>
                <li role="presentation" class="pull-right" ng-if="!IsNull(Result.StatusCode + Result.StatusMessage)">
                    <a href="javascript:void(0)" class="{{Result.StatusClass}}" title="状态码">
                        <span ng-bind="Result.StatusCode" ng-if="Result.StatusCode != 0"></span>
                        <span ng-bind="Result.StatusMessage"></span>
                    </a>
                </li>
            </ul>
            <pre class="prettyprint response_text prettyprinted" ng-show="Select.Response == 0" ng-bind="Result.Body"></pre>
            <pre class="prettyprint response_text prettyprinted" ng-show="Select.Response == 1" ng-bind="Result.Header"></pre>
        </div>
    </div>
    <script type="text/javascript" src="/Scripts/AngularInstance.js"></script>
    <script type="text/javascript" src="/Scripts/prettify/run_prettify.js"></script>
    <script type="text/javascript">

        Angular(function ($scope, factory) {
            $scope.IsNull = factory.IsNull;

            $scope.Data = {
                //是否使用本地模式
                IsLocal: true,
                //默认请求方式
                QueryType: 'GET',
                //访问地址
                Url: '',
                //Body数据
                Body: [],
                //Header数据
                Header: [],
                Loading: false
            }

            $scope.Result = {
                //Body数据
                Body: '',
                //Header数据
                Header: '',
                //状态码
                StatusCode: '',
                //状态信息
                StatusMessage: '',
                //状态样式
                StatusClass: ''
            }

            $scope.Select = {
                Request: 0,
                Response: 0
            }

            $scope.List = {
                //请求方式列表
                QueryTypeList: [
                    'GET',
                    'POST',
                    'PUT',
                    'PATCH',
                    'DELETE'
                ],
                FillList: [
                    'Body',
                    'Header'
                ],
                //响应模式列表
                ContentTypeList: [
                    'application/xml',
                    'application/json',
                    'multipart/form-data',
                    'application/x-www-form-urlencoded'
                ]
            }

            //设置值
            $scope.SetValue = function (key, value) {
                switch (typeof (value)) {
                    case 'string':
                        value = '"' + value + '"';
                        break;
                    default: break;
                }
                eval('$scope.' + key + ' = ' + value);
            }

            //添加数组项
            $scope.AddItem = function () {
                var array;
                if ($scope.Select.Request == 0) {
                    array = $scope.Data.Body;
                } else {
                    array = $scope.Data.Header;
                }
                array.push({
                    key: '',
                    value: ''
                })
            }

            //删除数组项
            $scope.RemoveItem = function (index) {
                var array;
                if ($scope.Select.Request == 0) {
                    array = $scope.Data.Body;
                } else {
                    array = $scope.Data.Header;
                }

                array.removeAt(index);
            }

            //添加请求头
            $scope.AddHeader = function (key, value) {
                var index = $scope.Data.Header.firstIndex(item => item.key == key);
                if (index != -1) {
                    $scope.Data.Header[index].value = value;
                } else {
                    $scope.Data.Header.push({
                        key: key,
                        value: value
                    })
                }
            }

            //开始调用Api
            $scope.Sutmit = function () {
                $scope.Save();
                $scope.Result.StatusCode = '';
                $scope.Result.StatusMessage = 'Loading';
                $scope.Result.StatusClass = 'text-muted';
                $scope.Result.Body = '';
                $scope.Result.Header = '';

                if ($scope.Data.IsLocal) {
                    $scope.Sutmit_Local();
                } else {
                    $scope.Sutmit_Online();
                }
            }

            //请求本地接口
            $scope.Sutmit_Local = function () {
                $scope.Data.Loading = true;

                $.ajax({
                    url: $scope.Data.Url,
                    type: $scope.Data.QueryType,
                    data: $scope.Data.Body.select(item => (item.key || '').trim() + '&' + (item.value || '').trim()).join('&'),
                    headers: $scope.Data.Header.select(item => (item.key || '').trim() + ':' + (item.value || '').trim()),
                    complete: function (response) {
                        $scope.Result.StatusCode = response.status;
                        $scope.Result.StatusMessage = response.statusText;
                        $scope.Result.StatusClass = $scope.GetStatusClass(response.status);

                        if (response.status == 0) {
                            $scope.Result.Body = '该地址禁止跨域请求, 请使用服务器方式调用接口。';
                            $scope.Result.Header = '';
                        } else {
                            $scope.Result.Body = response.responseText;
                            $scope.Result.Header = response.getAllResponseHeaders();
                        }

                        $scope.Data.Loading = false;
                        $scope.$apply();
                        prettyPrint();
                    }
                })
            }

            //请求网络接口
            $scope.Sutmit_Online = function () {
                $scope.Data.Loading = true;

                $.ajax({
                    url: "/Controller/Index/DelegateHttp",
                    type: 'POST',
                    data: {
                        Url: $scope.Data.Url,
                        Body: $scope.Data.Body.select(item=>(item.key || '').trim() + '=' + (item.value || '').trim()).join('&'),
                        Headers: JSON.stringify($scope.Data.Header.toObject(item => (item.key || '').trim(), item => (item.value || '').trim())),
                        QueryType: $scope.Data.QueryType
                    },
                    complete: function (response) {
                        var result = JSON.parse(response.responseText);
                        $scope.Result.StatusCode = result.StatusCode;
                        $scope.Result.StatusMessage = result.StatusMessage;
                        $scope.Result.StatusClass = $scope.GetStatusClass(result.StatusCode);
                        $scope.Result.Body = result.Body;
                        $scope.Result.Header = (result.Header || '').trim();

                        $scope.Data.Loading = false;
                        $scope.$apply();
                        prettyPrint();
                    }
                })
            }

            //保存记录
            $scope.Save = function () {
                setCookie('ApiParameter', JSON.stringify($scope.Data));
            }

            //加载记录
            $scope.Load = function () {
                var data = JSON.parse(getCookie('ApiParameter') || null);
                if (!$scope.IsNull(data)) {
                    $scope.Data = data;
                }
            }

            $scope.GetStatusClass = function (statusCode) {
                switch (statusCode) {
                    case 200:
                        return 'text-success';
                    default:
                        return 'text-danger';
                }
            }

            $scope.Load();
        });
    </script>
</body>
</html>
