<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Html美化</title>
    <link rel="stylesheet" href="/Scripts/bootstrap-3.3.7-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/Scripts/bootstrap-3.3.7-dist/css/docs.min.css" />
    <style>
        body {
            width: 90%;
            margin: 0px auto;
            padding: 30px;
        }

        textarea {
            width: 100% !important;
            min-height: 40px !important;
        }

        .button {
            width: 100px;
        }

        .ng-cloak {
            display: none;
        }
    </style>
</head>
<body>
    <div style="margin-bottom:15px;"><textarea id="code" class="hidden"></textarea></div>
    <div ng-cloak class="ng-cloak" ng-app="app" ng-controller="controller">
        <button class="btn btn-default button" ng-click="Beautify()">美化{{BeautifyType[SelectIndex]}}</button>
        <button class="btn btn-default button" ng-click="Compress()">压缩{{BeautifyType[SelectIndex]}}</button>
        <div class="dropup" style="display:inline-block;">
            <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                美化方式：{{BeautifyType[SelectIndex]}}  <span ng-cloak class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li role="presentation" ng-repeat="item in BeautifyType">
                    <a href="javascript:void(0);" ng-click="SetIndex($index)" ng-bind="item"></a>
                </li>
            </ul>
        </div>
    </div>
    <script type="text/javascript" src="/Scripts/CodeMirrorInstance.js"></script>
    <script type="text/javascript" src="/Scripts/AngularInstance.js"></script>
    <script type="text/javascript" src="/Scripts/code-beautify/beautify.js"></script>
    <script type="text/javascript" src="/Scripts/code-beautify/beautify-css.js"></script>
    <script type="text/javascript" src="/Scripts/code-beautify/beautify-html.js"></script>
    <script>
        var CodeEditor = Mirror('code', 'htmlmixed');
        $('.CodeMirror').height(window.screen.availHeight - 280);

        Angular(function ($scope, factory) {
            $scope.BeautifyType = ["HTML", "JS", "CSS"];
            $scope.IsNull = factory.IsNull;
            $scope.Html = factory.Html;
            $scope.SelectIndex = 0;

            $scope.SetIndex = function (index) {
                $scope.SelectIndex = index;
                switch (index) {
                    case 0:
                        CodeEditor.setOption('mode', 'htmlmixed'); return;
                    case 1:
                        CodeEditor.setOption('mode', 'javascript'); return;
                    case 2:
                        CodeEditor.setOption('mode', 'css'); return;
                    default: return;
                }
            }

            $scope.Beautify = function () {
                switch ($scope.SelectIndex) {
                    case 0:
                        CodeEditor.setValue(html_beautify(CodeEditor.getValue())); return;
                    case 1:
                        CodeEditor.setValue(js_beautify(CodeEditor.getValue())); return;
                    case 2:
                        CodeEditor.setValue(css_beautify(CodeEditor.getValue())); return;
                    default: return;
                }
            }

            $scope.Compress = function () {
                CodeEditor.setValue(CodeEditor.getValue().replace(/\n+/g, "").replace(/<!--.*?-->/ig, "").replace(/\/\*.*?\*\//ig, "").replace(/[ ]+</ig, "<"));
            }
        });
    </script>
</body>
</html>
