<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Json效验及格式化</title>
    <link rel="stylesheet" href="/Scripts/bootstrap-3.3.7-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/Scripts/bootstrap-3.3.7-dist/css/docs.min.css" />
    <style>
        body {
            width: 90%;
            margin: 0px auto;
            padding: 30px;
        }

        .ng-cloak {
            display: none;
        }
    </style>
</head>
<body>
    <div style="margin-bottom:15px;"><textarea id="code" class="hidden" placeholder="待验证的JSON..."></textarea></div>
    <div ng-cloak class="ng-cloak" ng-app="app" ng-controller="controller">
        <div class="alert alert-danger alert-dismissible" ng-hide="IsNull(warning)" role="alert">
            <span ng-bind="warning"></span>
            <button type="button" class="close" ng-click="warning=''" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="alert alert-success alert-dismissible" ng-hide="IsNull(success)" role="alert">
            <span ng-bind="success"></span>
            <button type="button" class="close" ng-click="success=''" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <button class="btn btn-default" ng-click="CheckJson()">生成JSON</button>
        <button class="btn btn-default" ng-click="Trim()">去除空格</button>
    </div>
    <script type="text/javascript" src="/Scripts/CodeMirrorInstance.js"></script>
    <script type="text/javascript" src="/Scripts/AngularInstance.js"></script>
    <script>
        var CodeEditor = Mirror('code', 'javascript');
        $('.CodeMirror').height(window.screen.availHeight - 320);

        Angular(function ($scope, factory) {
            $scope.IsNull = factory.IsNull;
            $scope.Html = factory.Html;

            $scope.CheckJson = function () {
                $scope.warning = $scope.success = "";
                var text = CodeEditor.getValue();
                try {
                    text = JSON.stringify(JSON.parse(text), null, 4);
                }
                catch (e) {
                    $scope.warning = "Json格式错误。" + e.message.replace("JSON.parse:", "");
                    return;
                }
                $scope.success = "Json格式正确。";
                CodeEditor.setValue(text);
            }
            $scope.Trim = function () {
                CodeEditor.setValue(CodeEditor.getValue().replace(/\s+/g, ""));
            }
        });
    </script>
</body>
</html>
