<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>正则表达式测试</title>
    <link rel="stylesheet" href="/Scripts/bootstrap-3.3.7-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/Scripts/bootstrap-3.3.7-dist/css/docs.min.css" />
    <style>
        body {
            width: 70%;
            margin: 0px auto;
            padding: 30px 0;
        }

        textarea {
            width: 100% !important;
            min-height: 40px !important;
        }
    </style>
</head>
<body>
    <div ng-app="app" ng-controller="controller">
        <textarea class="highlight well form-control" style="height:170px;" ng-model="inputText" placeholder="待匹配的文字..."></textarea>
        <div class="input-group">
            <span class="input-group-addon" id="sizing-text">正则表达式</span>
            <input type="text" class="form-control" ng-model="inputRegexp" placeholder="在此输入正则表达式...">
            <span class="input-group-addon" style="border-left:none;">
                <input id="IgnoreCase" type="checkbox" style="vertical-align:middle;" ng-model="ignoreCase">
                <label for="IgnoreCase" style="display: contents;font-weight: 500;margin: 0;">忽略大小写</label>
            </span>
            <span class="input-group-btn">
                <button class="btn btn-success" type="button" ng-click="matchClick();">匹配测试</button>
            </span>
        </div>
        <div class="navbar-form" style="padding:0;">
            <p class="navbar-nav">匹配结果：</p>
            <textarea class="highlight well form-control" style="height:170px;" readonly="readonly" ng-bind="matchedText"></textarea>
        </div>
        <div class="input-group">
            <span class="input-group-addon" id="sizing-text">替换文本</span>
            <input type="text" class="form-control" ng-model="inputReplace" placeholder="在此输入要替换的文字...">
            <span class="input-group-btn">
                <button class="btn btn-success" type="button" ng-click="replaceClick();">替换测试</button>
            </span>
        </div>
        <div class="navbar-form" style="padding:0;">
            <p class="navbar-nav">替换结果：</p>
            <textarea class="highlight well form-control" style="height:170px;" readonly="readonly" ng-bind="replacedText"></textarea>
        </div>
    </div>
    <script type="text/javascript" src="/Scripts/JQuery3-1-1.js"></script>
    <script type="text/javascript" src="/Scripts/Angular/AugularJs1.4.6.js"></script>
    <script type="text/javascript" src="/Scripts/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script>
        var app = angular.module('app', []);
        app.controller('controller', function ($scope, $sce) {
            $scope.matchClick = function () {
                var match = new RegExp($scope.inputRegexp, $scope.ignoreCase == true ? "ig" : "g");
                var result = $scope.inputText.match(match);
                if (result == null) {
                    $scope.matchedText = "未找到匹配项";
                }
                else {
                    $scope.matchedText = "共找到" + result.length + "处匹配：\r\n" + result.join("\r\n");
                }
            }
            $scope.replaceClick = function () {
                var match = new RegExp($scope.inputRegexp, $scope.ignoreCase == true ? "ig" : "g");
                $scope.replacedText = $scope.inputText.replace(match, $scope.inputReplace);
            }
        });
    </script>
</body>
</html>
