<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>AStar算法</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/Scripts/bootstrap-3.3.7-dist/css/bootstrap.min.css" />
    <link href="/Scripts/bootstrap-3.3.7-dist/css/bootstrap-slider.min.css" rel="stylesheet" />
    <link href="/Style/Css/Algorithm/AStar.css" rel="stylesheet" />
</head>
<body>
    <div class="main" ng-app="app" ng-controller="controller">
        <!--参数区-->
        <div class="container_head">
            <div class="item">
                <span>地图大小:</span>
                <input ng-model="Data.Setting.MapSize.X" type="number" />
                <span>x</span>
                <input ng-model="Data.Setting.MapSize.Y" type="number" />
            </div>
            <div class="item">
                <span>节点间隔:</span>
                <input ng-model="Data.Setting.Spacing" type="number" />
            </div>
            <div class="item">
                <span>使用算法:</span>
                <select>
                    <option>Dijkstra</option>
                    <option>BFS</option>
                    <option>A*</option>
                </select>
            </div>
            <div class="item">
                <span>障碍比例:</span>
                <input class="slider" data-slider-min="0" data-slider-max="40" data-slider-step="1" data-slider-value="20" />
            </div>
            <div class="item">
                <input id="showWayNum" ng-model="Data.Setting.ShowWayNum" type="checkbox" />
                <label for="showWayNum">是否显示步数</label>
            </div>
            <div class="item">
                <button ng-click="CreateMap()">生成地图</button>
            </div>
            <div class="item">
                <button ng-click="FindWay()">计算最短路径</button>
            </div>
        </div>
        <!--画布区-->
        <div class="container_content">
            <!--地图层-->
            <canvas id="content" width="1120" height="630"></canvas>
            <!--文字层-->
            <canvas id="content_text" width="1120" height="630"></canvas>
            <!--导线层-->
            <canvas id="content_line" width="1120" height="630"></canvas>
        </div>
        <!--可视化数据-->
        <div class="container_bottom">
            <p>用时统计：</p>
            <ul class="item">
                <li>
                    <div class="line">
                        <span>开始时间：</span>
                    </div>
                    <div class="line">
                        <span ng-bind="Data.Result.DateText.StartTime"></span>
                    </div>
                </li>
                <li>
                    <div class="line">
                        <span>结束时间：</span>
                    </div>
                    <div class="line">
                        <span ng-bind="Data.Result.DateText.EndTime"></span>
                    </div>
                </li>
                <li>
                    <div class="line">
                        <span>共计用时：</span>
                    </div>
                    <div class="line">
                        <span ng-bind="Data.Result.DateText.UseTime"></span>
                    </div>
                </li>
            </ul>
            <p>路程详情：</p>
            <ul class="item">
                <li>
                    <div class="line">
                        <span>路程步长：</span>
                    </div>
                    <div class="line">
                        <span ng-show="Data.Result.LineArray.length > 0" ng-bind="Data.Result.LineArray.length - 1"></span>
                    </div>
                </li>
                <li>
                    <div class="line">
                        <span>路程值长：</span>
                    </div>
                    <div class="line">
                        <span ng-show="Data.Result.Weight != null" ng-bind="Data.Result.Weight"></span>
                    </div>
                </li>
            </ul>
            <p>路程详情：</p>
            <ul class="item">
                <li ng-cloak class="ng-cloak" ng-repeat="item in Data.Result.LineArray" ng-show="$index != 0">
                    <div class="line">
                        <span>第</span>
                        <span ng-bind="$index"></span>
                        <span>步</span>
                    </div>
                    <div class="line">
                        <span>坐标: (</span>
                        <span ng-bind="item.x"></span>
                        <span>, </span>
                        <span ng-bind="item.y"></span>
                        <span>)</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <script type="text/javascript" src="/Scripts/AngularInstance.js"></script>
    <script type="text/javascript" src="/Scripts/CanvasHelper.js"></script>
    <script type="text/javascript" src="/Scripts/bootstrap-3.3.7-dist/js/bootstrap-slider.min.js"></script>
    <script type="text/javascript">
        Angular(function ($scope, factory) {
            $scope.Data = {
                Map: {
                    CubeMap: [],
                    ScoreMap: []
                },
                Setting: {
                    Spacing: 2,
                    MinScale: 4,
                    MapSize: {
                        X: 32,
                        Y: 18
                    },
                    SearchSize: {
                        X: 0,
                        Y: 0
                    },
                    ShowWayNum: true,
                },
                Canvas: {
                    CubeCanvas: new Canvas('content'),
                    TextCanvas: new Canvas('content_text'),
                    LineCanvas: new Canvas('content_line')
                },
                Slider: $("input.slider").slider(),
                Result: {
                    LineArray: [],
                    Weight: null,
                    Date: {
                        StartTime: null,
                        EndTime: null,
                        UseTime: null
                    },
                    DateText: {
                        StartTime: '',
                        EndTime: '',
                        UseTime: ''
                    }
                }
            }

            $scope.DataBak = angular.copy($scope.Data);

            //重置画布
            $scope.Clear = function () {
                $.each(['Map', 'Result'], function (index, item) {
                    $scope.Data[item] = angular.copy($scope.DataBak[item]);
                })

                $.each($scope.Data.Canvas, function (index, item) {
                    item.Clear();
                    item.size.spacing = $scope.Data.Setting.Spacing;
                    item.AutoSize($scope.Data.Setting.MapSize.X, $scope.Data.Setting.MapSize.Y);
                })
            }

            //根据位置重计算搜索面积
            $scope.SetSearchSize = function (x, y) {
                x = $scope.Data.Setting.MapSize.X - x;
                y = $scope.Data.Setting.MapSize.Y - y;
                if (x > y) {
                    $scope.Data.Setting.SearchSize = {
                        X: $scope.Data.Setting.MinScale,
                        Y: parseInt(y * $scope.Data.Setting.MinScale / x + 0.5)
                    }
                } else if (x < y) {
                    $scope.Data.Setting.SearchSize = {
                        X: (x * $scope.Data.Setting.MinScale / y + 0.5),
                        Y: $scope.Data.Setting.MinScale
                    }
                } else {
                    $scope.Data.Setting.SearchSize = {
                        X: $scope.Data.Setting.MinScale,
                        Y: $scope.Data.Setting.MinScale
                    }
                }
            }

            //生成地图
            $scope.CreateMap = function () {
                $scope.Clear();

                var slider = parseInt($scope.Data.Slider[0].value);
                for (var x = 0; x < $scope.Data.Setting.MapSize.X; x++) {
                    $scope.Data.Map.CubeMap[x] = [];
                    $scope.Data.Map.ScoreMap[x] = [];
                    for (var y = 0; y < $scope.Data.Setting.MapSize.Y; y++) {
                        var result;
                        if (x == 0 && y == 0) {
                            result = true;
                            $scope.Data.Canvas.TextCanvas.Text('起点', x, y);
                        } else if (x == $scope.Data.Setting.MapSize.X - 1 && y == $scope.Data.Setting.MapSize.Y - 1) {
                            result = true;
                            $scope.Data.Canvas.TextCanvas.Text('终点', x, y);
                        } else {
                            result = parseInt(Math.random() * 100) > slider; //是否为正常地形
                        }
                        $scope.Data.Map.CubeMap[x][y] = result;

                        $scope.Data.Canvas.CubeCanvas.context.fillStyle = result ? 'rgba(202, 202, 202, 0.5)' : '#666'
                        $scope.Data.Canvas.CubeCanvas.Cube(x, y);
                    }
                }

                $scope.Data.Map.ScoreMap[0][0] = 0;
                $scope.DataBak.Map.ScoreMap = angular.copy($scope.Data.Map.ScoreMap);
            }

            //返回指定位置是否允许通过
            $scope.IsAllow = function (x, y, special) {
                return $scope.Data.Map.CubeMap.length > x &&
                    $scope.Data.Map.CubeMap[x] &&
                    $scope.Data.Map.CubeMap[x].length > y &&
                    $scope.Data.Map.CubeMap[x][y] &&
                    (!special || (!(x == 0 && y == 0) && !(x == $scope.Data.Map.CubeMap.length - 1 && y == $scope.Data.Map.CubeMap[0].length - 1)));
            }

            //开始寻路算法
            $scope.FindWay = function () {
                $scope.Data.Canvas.LineCanvas.Clear();
                $scope.Data.Canvas.TextCanvas.Clear();
                $scope.Data.Canvas.TextCanvas.Text('起点', 0, 0);
                $scope.Data.Canvas.TextCanvas.Text(
                    '终点',
                    $scope.Data.Setting.MapSize.X - 1,
                    $scope.Data.Setting.MapSize.Y - 1);

                $scope.Data.Result = angular.copy($scope.DataBak.Result);
                $scope.Data.Map.ScoreMap = angular.copy($scope.DataBak.Map.ScoreMap);
                $scope.Data.Result.Date.StartTime = new Date();

                $scope.NextWay(0, 0, 1, 0, []);
            }

            $scope.NextWay = function (x, y, index, weigth, lineInfo) {
                //添加当前位置
                lineInfo.push({
                    x: x,
                    y: y
                })

                for (offset_x = -1; offset_x <= 1; offset_x++) {
                    for (offset_y = -1; offset_y <= 1; offset_y++) {
                        var temp_x = x + offset_x,
                            temp_y = y + offset_y,
                            //增加斜向步长以保证更优先选择直线
                            temp_weight = weigth + Math.min(1.5, Math.abs(offset_x) + Math.abs(offset_y));

                        if ($scope.IsAllow(temp_x, temp_y, false)) {
                            //如果节点为空或者大于当前序号，修改节点值，并进行递归
                            if (isNaN($scope.Data.Map.ScoreMap[temp_x][temp_y]) || $scope.Data.Map.ScoreMap[temp_x][temp_y] > temp_weight) {
                                $scope.Data.Map.ScoreMap[temp_x][temp_y] = temp_weight;

                                if (temp_x == $scope.Data.Map.CubeMap.length - 1 && temp_y == $scope.Data.Map.CubeMap[0].length - 1) {
                                    //如果终点，开始绘制最短路线
                                    lineInfo.push({
                                        x: temp_x,
                                        y: temp_y
                                    })
                                    $scope.Line(lineInfo, temp_weight);
                                    return;
                                } else {
                                    if ($scope.Data.Setting.ShowWayNum) {
                                        $scope.Data.Canvas.TextCanvas.Text($scope.Data.Map.ScoreMap[temp_x][temp_y], temp_x, temp_y);
                                    }

                                    //递归设置下一节点
                                    setTimeout(function (temp_x, temp_y, temp_weight) {
                                        return function () {
                                            $scope.NextWay(
                                                temp_x,
                                                temp_y,
                                                index + 1,
                                                temp_weight,
                                                lineInfo.concat());
                                        }
                                    }(temp_x, temp_y, temp_weight), 1);
                                }
                            }
                        }
                    }
                }
            }

            //绘制结果线段
            $scope.Line = function (lineInfo, weight) {
                $scope.Data.Result.LineArray = lineInfo;
                if ($scope.Data.Result.Weight != null && $scope.Data.Result.Weight <= weight) {
                    //如果存在更优解，不进行绘制
                    return;
                }

                $scope.Data.Result.Weight = weight;
                $scope.Data.Canvas.LineCanvas.Clear();
                $scope.Data.Canvas.LineCanvas.LineArray(lineInfo, '#FF4500');

                $scope.Data.Result.Date.EndTime = new Date();
                $scope.Data.Result.Date.UseTime = $scope.Data.Result.Date.EndTime - $scope.Data.Result.Date.StartTime;

                $scope.Data.Result.DateText = {
                    StartTime: $scope.FormatDate($scope.Data.Result.Date.StartTime, 'mm:ss:S'),
                    EndTime: $scope.FormatDate($scope.Data.Result.Date.EndTime, 'mm:ss:S'),
                    UseTime: $scope.FormatDate(new Date($scope.Data.Result.Date.UseTime), 'mm:ss:S')
                }

                $scope.$apply();
            }

            $scope.FormatDate = function (date, fmt) {
                var o = {
                    "M+": date.getMonth() + 1, //月份
                    "d+": date.getDate(), //日
                    "h+": date.getHours(), //小时
                    "m+": date.getMinutes(), //分
                    "s+": date.getSeconds(), //秒
                    "q+": Math.floor((date.getMonth() + 3) / 3), //季度
                    "S": date.getMilliseconds() //毫秒
                };
                if (/(y+)/.test(fmt))
                    fmt = fmt.replace(RegExp.$1, (date.getFullYear() + "").substr(4 - RegExp.$1.length));
                for (var k in o)
                    if (new RegExp("(" + k + ")").test(fmt))
                        fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
                return fmt;
            }

            $scope.CreateMap();
        });
    </script>
</body>
</html>
