<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>AStar算法</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/Scripts/bootstrap-3.3.7-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/Scripts/bootstrap-3.3.7-dist/css/bootstrap-slider.min.css" />
    <!--<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/prettify/r224/prettify.css" />-->
    <link rel="stylesheet" href="/Scripts/bootstrap-contextmenu/css/prettify.css" />
    <link rel="stylesheet" href="/Style/Css/Algorithm/AStar.css" />
</head>
<body>
    <div class="main" ng-app="app" ng-controller="controller">
        <!--参数区-->
        <div class="container_head">
            <div class="item">
                <span>地图比例:</span>
                <input class="slider_map" data-slider-min="1" data-slider-max="20" data-slider-step="1" data-slider-value="2" />
            </div>
            <div class="item">
                <span>节点间隔:</span>
                <input class="slider_spacing" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="2" />
            </div>
            <div class="item">
                <span>障碍比例:</span>
                <input class="slider_barrier" data-slider-min="0" data-slider-max="40" data-slider-step="1" data-slider-value="20" />
            </div>
            <div class="item">
                <input id="showWayNum" ng-model="Data.Setting.ShowWayNum" type="checkbox" />
                <label for="showWayNum">是否显示步数</label>
            </div>
            <div class="item">
                <button ng-click="FindWay()">计算最短路径</button>
            </div>
            <div class="item">
                <button ng-click="CreateMap()">生成地图</button>
            </div>
        </div>
        <!--画布区-->
        <div class="container_content">
            <!--地图层-->
            <canvas id="content" width="1120" height="630"></canvas>
            <!--文字层-->
            <canvas id="content_text" width="1120" height="630"></canvas>
            <!--导线层-->
            <canvas id="content_line" width="1120" height="630"></canvas>
        </div>
        <!--可视化数据-->
        <div class="container_bottom">
            <p>用时统计：</p>
            <ul class="item">
                <li>
                    <div class="line">
                        <span>开始时间：</span>
                    </div>
                    <div class="line">
                        <span ng-bind="Data.Result.DateText.StartTime"></span>
                    </div>
                </li>
                <li>
                    <div class="line">
                        <span>结束时间：</span>
                    </div>
                    <div class="line">
                        <span ng-bind="Data.Result.DateText.EndTime"></span>
                    </div>
                </li>
                <li>
                    <div class="line">
                        <span>共计用时：</span>
                    </div>
                    <div class="line">
                        <span ng-bind="Data.Result.DateText.UseTime"></span>
                    </div>
                </li>
            </ul>
            <p>路程详情：</p>
            <ul class="item">
                <li>
                    <div class="line">
                        <span>路程步长：</span>
                    </div>
                    <div class="line">
                        <span ng-show="Data.Result.LineArray.length > 0" ng-bind="Data.Result.LineArray.length - 1"></span>
                    </div>
                </li>
                <li>
                    <div class="line">
                        <span>路程值长：</span>
                    </div>
                    <div class="line">
                        <span ng-show="Data.Result.Weight != null" ng-bind="Data.Result.Weight"></span>
                    </div>
                </li>
            </ul>
            <p>路程详情：</p>
            <ul class="item">
                <li ng-cloak class="ng-cloak" ng-repeat="item in Data.Result.LineArray" ng-show="$index != 0">
                    <div class="line">
                        <span>第</span>
                        <span ng-bind="$index"></span>
                        <span>步</span>
                    </div>
                    <div class="line">
                        <span>坐标: (</span>
                        <span ng-bind="item.x"></span>
                        <span>, </span>
                        <span ng-bind="item.y"></span>
                        <span>)</span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="container_foot"></div>
        <div id="context-menu">
            <ul class="dropdown-menu" role="menu">
                <li ng-click="SetMapNode(value, item.IsEnable)" ng-repeat="(value, item) in Data.Menu.MenuList" ng-class="{false: 'Readonly'}[item.IsEnable]">
                    <a tabindex="-1">
                        <span>设置为</span>
                        <span ng-bind="item.Text"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <script type="text/javascript" src="/Scripts/AngularInstance.js"></script>
    <script type="text/javascript" src="/Scripts/CanvasHelper.js"></script>
    <script type="text/javascript" src="/Scripts/bootstrap-3.3.7-dist/js/bootstrap-slider.min.js"></script>
    <script type="text/javascript" src="/Scripts/bootstrap-contextmenu/js/bootstrap-contextmenu.js"></script>
    <!--<script src="http://cdnjs.cloudflare.com/ajax/libs/prettify/r224/prettify.js"></script>-->
    <script type="text/javascript" src="/Scripts/bootstrap-contextmenu/js/prettify.js"></script>
    <script type="text/javascript">

        Angular(function ($scope, factory) {
            $scope.Data = {
                Map: {
                    //地图
                    CubeMap: [],
                    //步长图
                    ScoreMap: []
                },
                Setting: {
                    //间隔宽度
                    Spacing: 2,
                    Value: {
                        //直行步长
                        Line: 1,
                        //斜行步长
                        Diagonal: 1.5
                    },
                    //地图面积
                    MapSize: {
                        X: 32,
                        Y: 18
                    },
                    OriginalSize: {
                        X: 16,
                        Y: 9
                    },
                    //地图颜色
                    MapColor: {
                        Normal: 'rgba(202, 202, 202, 0.5)',
                        Barrier: '#666'
                    },
                    //起点
                    StartPosition: {
                        X: 0,
                        Y: 0
                    },
                    //终点
                    EndPosition: {
                        X: 0,
                        Y: 0
                    },
                    //是否显示步数
                    ShowWayNum: true
                },
                Canvas: {
                    //地图画布
                    CubeCanvas: new Canvas('content'),
                    //文字画布
                    TextCanvas: new Canvas('content_text'),
                    //导线画布
                    LineCanvas: new Canvas('content_line')
                },
                //障碍比例条
                Slider: {
                    Barrier: $("input.slider_barrier").slider(),
                    Map: $("input.slider_map").slider(),
                    Spacing: $("input.slider_spacing").slider()
                },
                //菜单信息
                Menu: {
                    //选中位置
                    Select: {
                        X: 0,
                        Y: 0
                    },
                    MenuList: {
                        Barrier: {
                            Text: '障碍',
                            IsEnable: true
                        }, Empty: {
                            Text: '空白',
                            IsEnable: true
                        }, Start: {
                            Text: '起点',
                            IsEnable: true
                        }, End: {
                            Text: '终点',
                            IsEnable: true
                        }
                    }
                },
                //结果信息
                Result: {
                    //导线信息
                    LineArray: [],
                    //总价值
                    Weight: null,
                    //用时
                    Date: {
                        StartTime: null,
                        EndTime: null,
                        UseTime: null
                    },
                    //用时(文字)
                    DateText: {
                        StartTime: '',
                        EndTime: '',
                        UseTime: ''
                    }
                }
            }

            //原始数据备份，用于还原初始值
            $scope.DataBak = angular.copy($scope.Data);

            //右键事件
            $('#content_line').contextmenu({
                target: '#context-menu',
                before: function (e) {
                    var box = $scope.Data.Canvas.LineCanvas.object.getBoundingClientRect();
                    var x = $scope.Data.Canvas.LineCanvas.Coordinates.To.X(e.clientX - box.left),
                        y = $scope.Data.Canvas.LineCanvas.Coordinates.To.Y(e.clientY - box.top);

                    $scope.Data.Menu.Select = {
                        X: x,
                        Y: y
                    }

                    //初始化
                    $scope.Data.Menu.MenuList = angular.copy($scope.DataBak.Menu.MenuList);

                    if ($scope.IsStart(x, y) || $scope.IsEnd(x, y)) {
                        //起点终点不可修改为其他
                        $.each($scope.Data.Menu.MenuList, function (index, item) {
                            item.IsEnable = false;
                        })
                    }
                    $scope.$apply();

                    e.preventDefault();
                    if (e.target.tagName == 'SPAN') {
                        e.preventDefault();
                        this.closemenu();
                        return false;
                    }
                    return true;
                }
            });

            //初始化画布
            $scope.Clear = function () {
                $.each(['Map', 'Result'], function (index, item) {
                    $scope.Data[item] = angular.copy($scope.DataBak[item]);
                })
                //设置画布节点数量及间隔宽度
                $scope.Data.Setting.Spacing = parseInt($scope.Data.Slider.Spacing[0].value);
                $scope.Data.Setting.MapSize.X = parseInt($scope.Data.Setting.OriginalSize.X * $scope.Data.Slider.Map[0].value);
                $scope.Data.Setting.MapSize.Y = parseInt($scope.Data.Setting.OriginalSize.Y * $scope.Data.Slider.Map[0].value);

                $.each($scope.Data.Canvas, function (index, item) {
                    item.Clear();
                    item.size.spacing = $scope.Data.Setting.Spacing;
                    item.AutoSize($scope.Data.Setting.MapSize.X, $scope.Data.Setting.MapSize.Y);
                })

                $scope.Data.Setting.EndPosition.X = $scope.Data.Setting.MapSize.X - 1;
                $scope.Data.Setting.EndPosition.Y = $scope.Data.Setting.MapSize.Y - 1;
            }

            //修改节点位置
            $scope.SetMapNode = function (value, enable) {
                if (enable) {
                    var x = parseInt($scope.Data.Menu.Select.X), y = parseInt($scope.Data.Menu.Select.Y);
                    switch (value) {
                        case 'Start':
                            $scope.Data.Map.CubeMap[x, y] = true;
                            $scope.Data.Canvas.CubeCanvas.context.fillStyle = $scope.Data.Setting.MapColor.Normal;
                            $scope.Data.Canvas.CubeCanvas.Cube(x, y);

                            $scope.Data.Setting.StartPosition = {
                                X: x,
                                Y: y
                            };
                            break;
                        case 'End':
                            $scope.Data.Map.CubeMap[x][y] = true;
                            $scope.Data.Canvas.CubeCanvas.context.fillStyle = $scope.Data.Setting.MapColor.Normal;
                            $scope.Data.Canvas.CubeCanvas.Cube(x, y);

                            $scope.Data.Setting.EndPosition = {
                                X: x,
                                Y: y
                            };
                            break;
                        case 'Barrier':
                            $scope.Data.Map.CubeMap[x][y] = false;
                            $scope.Data.Canvas.CubeCanvas.context.fillStyle = $scope.Data.Setting.MapColor.Barrier;
                            $scope.Data.Canvas.CubeCanvas.Cube(x, y);
                            break;
                        case 'Empty':
                            $scope.Data.Map.CubeMap[x][y] = true;
                            $scope.Data.Canvas.CubeCanvas.context.fillStyle = $scope.Data.Setting.MapColor.Normal;
                            $scope.Data.Canvas.CubeCanvas.Cube(x, y);
                            break;
                        default: return;
                    }
                    $scope.SetPoint();
                }
            }

            //生成地图
            $scope.CreateMap = function () {
                $scope.Clear();

                var slider = parseInt($scope.Data.Slider.Barrier[0].value);
                for (var x = 0; x < $scope.Data.Setting.MapSize.X; x++) {
                    $scope.Data.Map.CubeMap[x] = [];
                    $scope.Data.Map.ScoreMap[x] = [];
                    for (var y = 0; y < $scope.Data.Setting.MapSize.Y; y++) {
                        var result;
                        if ($scope.IsStart(x, y) || $scope.IsEnd(x, y)) {
                            //起点终点为正常地形
                            result = true;
                        } else {
                            result = parseInt(Math.random() * 100) < 100 - slider; //是否为正常地形
                        }
                        $scope.Data.Map.CubeMap[x][y] = result;

                        $scope.Data.Canvas.CubeCanvas.context.fillStyle = result ?
                            $scope.Data.Setting.MapColor.Normal :
                            $scope.Data.Setting.MapColor.Barrier;

                        $scope.Data.Canvas.CubeCanvas.Cube(x, y);
                    }
                }

                $scope.Data.Map.ScoreMap[0][0] = 0;
                $scope.DataBak.Map.ScoreMap = angular.copy($scope.Data.Map.ScoreMap);

                $scope.SetPoint();
            }

            //返回指定位置是否允许通过
            $scope.IsAllow = function (x, y, special) {
                return $scope.Data.Map.CubeMap.length > x &&
                    $scope.Data.Map.CubeMap[x] &&
                    $scope.Data.Map.CubeMap[x].length > y &&
                    $scope.Data.Map.CubeMap[x][y] &&
                    (!special || (!$scope.IsStart(x, y) && !$scope.IsEnd(x, y)));
            }

            //返回位置是否为起点
            $scope.IsStart = function (x, y) {
                return x == $scope.Data.Setting.StartPosition.X && y == $scope.Data.Setting.StartPosition.Y;
            }

            //返回位置是否为终点
            $scope.IsEnd = function (x, y) {
                return x == $scope.Data.Setting.EndPosition.X && y == $scope.Data.Setting.EndPosition.Y;
            }

            //设置起止点文字
            $scope.SetPoint = function () {
                $scope.Data.Canvas.LineCanvas.Clear();
                $scope.Data.Canvas.TextCanvas.Clear();
                $scope.Data.Canvas.TextCanvas.Text(
                    '起点',
                    $scope.Data.Setting.StartPosition.X,
                    $scope.Data.Setting.StartPosition.Y);
                $scope.Data.Canvas.TextCanvas.Text(
                    '终点',
                    $scope.Data.Setting.EndPosition.X,
                    $scope.Data.Setting.EndPosition.Y);
            }

            //开始寻路算法
            $scope.FindWay = function () {
                $scope.SetPoint();

                $scope.Data.Result = angular.copy($scope.DataBak.Result);
                $scope.Data.Map.ScoreMap = angular.copy($scope.DataBak.Map.ScoreMap);
                $scope.Data.Result.Date.StartTime = new Date();

                $scope.NextWay(0, 0, 1, 0, []);
            }

            //计算坐标启发值
            $scope.GetH = function (x, y) {
                h_diagonal = Math.min(
                    Math.abs(x - $scope.Data.Setting.EndPosition.X),
                    Math.abs(y - $scope.Data.Setting.EndPosition.Y));

                h_straight = Math.abs(x - $scope.Data.Setting.EndPosition.X) + Math.abs(y - $scope.Data.Setting.EndPosition.Y);

                return $scope.Data.Setting.Value.Diagonal * h_diagonal +
                    $scope.Data.Setting.Value.Line * (h_straight - 2 * h_diagonal);
            }

            $scope.NextWay = function (x, y, index, weigth, lineInfo) {
                //添加当前位置
                lineInfo.push({
                    x: x,
                    y: y
                })

                for (offset_x = -1; offset_x <= 1; offset_x++) {
                    for (offset_y = -1; offset_y <= 1; offset_y++) {
                        var value = (Math.abs(offset_x) == 1 && Math.abs(offset_y) == 1) ?
                            $scope.Data.Setting.Value.Diagonal :
                            $scope.Data.Setting.Value.Line,
                            temp_x = x + offset_x,
                            temp_y = y + offset_y,
                            temp_weight = weigth + value;

                        if ($scope.IsAllow(temp_x, temp_y, false)) {
                            //如果节点为空或者大于当前序号，修改节点值，并进行递归
                            if (isNaN($scope.Data.Map.ScoreMap[temp_x][temp_y]) || $scope.Data.Map.ScoreMap[temp_x][temp_y] > temp_weight) {
                                $scope.Data.Map.ScoreMap[temp_x][temp_y] = temp_weight;

                                if ($scope.IsEnd(temp_x, temp_y)) {
                                    //如果终点，开始绘制最短路线
                                    lineInfo.push({
                                        x: temp_x,
                                        y: temp_y
                                    })
                                    $scope.Line(lineInfo, temp_weight);
                                    return;
                                } else {
                                    if ($scope.Data.Setting.ShowWayNum) {
                                        $scope.Data.Canvas.TextCanvas.Text($scope.Data.Map.ScoreMap[temp_x][temp_y], temp_x, temp_y);
                                    }

                                    //递归设置下一节点
                                    setTimeout(function (temp_x, temp_y, temp_weight) {
                                        return function () {
                                            $scope.NextWay(
                                                temp_x,
                                                temp_y,
                                                index + 1,
                                                temp_weight,
                                                lineInfo.concat());
                                        }
                                    }(temp_x, temp_y, temp_weight), 1);
                                }
                            }
                        }
                    }
                }
            }

            //绘制结果线段
            $scope.Line = function (lineInfo, weight) {
                $scope.Data.Result.LineArray = lineInfo;
                if ($scope.Data.Result.Weight != null && $scope.Data.Result.Weight <= weight) {
                    //如果存在更优解，不进行绘制
                    return;
                }

                $scope.Data.Result.Weight = weight;
                $scope.Data.Canvas.LineCanvas.Clear();
                $scope.Data.Canvas.LineCanvas.LineArray(lineInfo, '#FF4500');

                $scope.Data.Result.Date.EndTime = new Date();
                $scope.Data.Result.Date.UseTime = $scope.Data.Result.Date.EndTime - $scope.Data.Result.Date.StartTime;

                $scope.Data.Result.DateText = {
                    StartTime: $scope.FormatDate($scope.Data.Result.Date.StartTime, 'mm:ss:S'),
                    EndTime: $scope.FormatDate($scope.Data.Result.Date.EndTime, 'mm:ss:S'),
                    UseTime: $scope.FormatDate(new Date($scope.Data.Result.Date.UseTime), 'mm:ss:S')
                }

                $scope.$apply();
            }

            $scope.FormatDate = function (date, fmt) {
                var o = {
                    "M+": date.getMonth() + 1, //月份
                    "d+": date.getDate(), //日
                    "h+": date.getHours(), //小时
                    "m+": date.getMinutes(), //分
                    "s+": date.getSeconds(), //秒
                    "q+": Math.floor((date.getMonth() + 3) / 3), //季度
                    "S": date.getMilliseconds() //毫秒
                };
                if (/(y+)/.test(fmt))
                    fmt = fmt.replace(RegExp.$1, (date.getFullYear() + "").substr(4 - RegExp.$1.length));
                for (var k in o)
                    if (new RegExp("(" + k + ")").test(fmt))
                        fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
                return fmt;
            }

            $scope.CreateMap();
        });
    </script>
</body>
</html>
